@font-face {
    font-family: pokemon;
    src: url(pokemon_font.ttf);
}

body {
  background-color: gray;
  //font-family: pokemon;
}

td {
  font-size: 14px;
  border: 1px solid black;
  width: 100px;
  padding: 10px;
}
